// colors
$c-white: rgb(255, 255, 255);
$c-black: rgb(0, 0, 0);

$c-grey-light: rgb(240, 240, 240);
$c-grey: rgb(200, 200, 200);
$c-grey-dark: rgb(135, 135, 135);
$c-grey-darker: rgb(85, 85, 85);
$c-grey-darkery: rgb(35, 35, 35);


$c-cyan: rgb(3, 178, 243);
$c-cyan-dark: rgb(0, 126, 173);
$c-cyan-darker: rgb(0, 71, 97);
$c-cyan-darker-9: rgba($c-cyan-darker, 0.9);

$c-red: rgb(240, 60, 46);
$c-red-dark: rgb(200, 32, 20);
$c-red-darker: rgb(145, 10, 0);
