@import 'font-faces';

@font-face {
	font-family: 'poiret';
	src: url('/assets/font/poiret/PoiretOne-Regular.woff2') format('woff2'),
		url('/assets/font/poiret/PoiretOne-Regular.woff') format('woff'),
			url('/assets/font/poiret/PoiretOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


// Use either normalize.css OR reset.css — https://github.com/Stinkdigital/guidelines/tree/master/css#external-resources
//@import '~normalize.css/normalize';
@import '~reset.css/reset';
// base
@import 'base';

// objects
@import 'objects/o-upgrade';
@import 'objects/o-icon';
@import 'objects/o-btn';
@import 'objects/o-media';
@import 'objects/o-page';

// utilities
@import 'utilities/u-scroll';
@import 'utilities/u-flex';
@import 'utilities/u-overlay';
@import 'utilities/u-grab';
